body
{
  background-color: 
}
table
{
  box-shadow: 2px 2px 5px 1px;
  font-size: 30px;
  padding-right: 20px;
  transition: 0.2s;
  background-color: #4ff1ba;
}
table:hover
{
  box-shadow: 1px 4px 10px 4px;
  transition: 0.2s;

}
.tdis
{
  padding: 10px;

  padding-right: 20px;
}
.submit{
  text-align: center;
  margin-left: 200px;
  text-decoration: none;
  background-color: cyan;
}
.div_main
{
  display: block;
  margin-top: 60px;
  padding-bottom: 40px;
  transition: 0.2s;
}
