<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <meta charset="utf-8">
    <title>Registration</title>
  </head>
  <body>
    <div class="div_main">
      <center>
    <form class="form" action="index.html" method="post">
        <h2 style="text-align:center;font-family : Yellowtail">Registration</h2>
      <table>
      <tr>
        <td class="tdis">Username</td>
        <td><input type="text" name="uname" value=""></td>
      </tr>
      <tr>
        <td class="tdis">Email id</td>
        <td><input type="email" name="email" value=""></td>
      </tr>
      <tr>
        <td  class="tdis">Enter your password</td>
        <td><input type="password" name="pwd" value=""></td>
      </tr>
      <tr>
        <td class="tdis">Confirm your password</td>
        <td><input type="password" name="cpwd" value=""></td>
      </tr>
      <tr>
        <td colspan="2"><input class="submit" type="submit" name="" value="submit"></td>
      </tr>
      </table>
    </form>
    </center>
    </div>
  </body>
</html>
